env:
  # Default travis build. The hvr's ghc ppa seems to have some
  # problems sometimes and connection fails. We would want at-least
  # this build to go throught.
  #
  - HASKELL_PLATFORM= GHC_VERSION= CABAL_VERSION=
  #
  # - GHC_VERSION=7.4.2 CABAL_VERSION=1.18
  # - GHC_VERSION=7.6.3 CABAL_VERSION=1.18
  # Add specific platforms. Make sure to add the corresponding cabal
  # config files in the platform subdirectory.
  # - HASKELL_PLATFORM=2012.2.0.0 CABAL_VERSION=1.18
  - HASKELL_PLATFORM=2013.2.0.0 GHC_VERSION=7.6.3 CABAL_VERSION=1.18
  - GHC_VERSION=7.8.1 CABAL_VERSION=1.18
before_install:
  - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
  - travis_retry sudo apt-get update
  - |
    if [ $GHC_VERSION = "" ] || [ $CABAL_VERSION = "" ] || [ $HASKELL_PLATFORM = "" ]; then
      travis_retry sudo apt-get install cabal-install ghc happy
    else
      travis_retry sudo apt-get install cabal-install-$CABAL_VERSION ghc-$GHC_VERSION happy
      export PATH=/opt/ghc/$GHC_VERSION/bin:/opt/cabal/$CABAL_VERSION/bin:$PATH
    fi
  - ghc --version
  - cabal --version
install: true
script: echo tests already run
branches:
  only:
    - master
